<h1>New Question</h1>

<div class="row">
  <div class="col-md-4">
    <p>Guidelines for questions</p>
    <ul>
      <li>Make them good</li>
      <li>Make them brief</li>
    </ul>
  </div>
</div>
<div class="col-md-8">
  <%= form_for @question do |f| %>
      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title %>
      </div>

      <div class="form-group">
        <%= f.label :body %>
        <%= f.text_field :body %>
      </div>

      <div class="form-group">
        <%= f.label :resolved %>
        <%= f.check_box :resolved, class: 'form-control', placeholder: "Is question resolved?" %>
      </div>

      <div class="form-group">
        <%= f.submit "Save" %>
      </div>
  <% end %>
</div>
