<div class="row">
  <div class="col-md-8">
    <div class="media">
      <br/>
      <% avatar_url = @user.avatar_url(128) %>
      <% if avatar_url %>
          <div class="media-left">
            <%= image_tag avatar_url, class: 'media-object' %>
          </div>
      <% end %>
      <div class="media-body">
        <h2 class="media-heading"><%= @user.name %></h2>
        <small>

          <%= pluralize(@user.posts.count, 'post') %>,
          <%= pluralize(@user.comments.count, 'comment') %>
        </small>
      </div>
    </div>
  </div>
</div>

<% if has_posts(@user) %>
    <h2>Posts</h2>
    <%= render @user.posts %>
<% else %>
    <p><%= @user.name %> has not submitted any posts yet.</p>
<% end %>

<% if has_comments(@user) %>
    <h2>Comments</h2>
    <%= render @user.comments %>
<% else %>
    <p><%= @user.name %> has not submitted any comments yet.</p>
<% end %>

<h2>Posts Favorited</h2>

<% if @user.favorites.any? %>
    <table class="table-striped" width="600px">
      <thead>
      <tr>
        <th>Title</th>
        <th></th>
        <th>Votes</th>
        <th>Comments</th>
      </tr>
      </thead>
      <tbody>
      <%= render :partial => 'users/favorite', :collection => @user.favorites %>
      </tbody>
    </table>
<% else %>
    <p><%= @user.name %> has not favorited any posts yet.</p>
<% end %>

